name: Auto Version Tagging

on:
  push:
    branches:
      - main # Adjust if needed

permissions:
  contents: write # Required to push new tags

jobs:
  tag-version:
    runs-on: ubuntu-latest
    outputs:
      new_version: ${{ steps.get_version.outputs.value }} # Pass version to next job
      tag_created: ${{ steps.tag_create.outputs.tagname }} # Pass if tag was created
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch all history to compare versions

      - name: Extract Version from Cargo.toml
        id: get_version
        uses: sravinet/toml-select@v1.0.1
        with:
          file: "Cargo.toml"
          field: "package.version"

      - name: Check if Tag Exists
        id: check_tag
        run: |
          VERSION=v${{ steps.get_version.outputs.value }}
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          if git rev-parse "$VERSION" >/dev/null 2>&1; then
            echo "TAG_EXISTS=true" >> $GITHUB_ENV
          else
            echo "TAG_EXISTS=false" >> $GITHUB_ENV
          fi
      - name: Push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tag_prefix: "v"
          custom_tag: ${{ steps.get_version.outputs.value }}
